.form-card {
  padding-top: 20px;
}
.card-form {
    min-width: 150px;
    max-width: 750px;
}
input {
  text-transform: capitalize
}

.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.cnt-permisos {
  height: 250px;
}

.cnt-permisos-xs {
  height: 450px;
}


mat-selection-list {
  overflow-y: auto;
}