<app-messages-system [showIsLoading]="isLoading" [text]='textIsLoading'> </app-messages-system>
<div fxFill style="background-color: rgb(66, 66, 66);" fxLayout="column" fxLayoutAlign="center center">
  <form [formGroup]="frmRastreable" novalidate fxLayout='row' fxLayoutAlign="space-around center" class="frm-rastreable">
    <!-- Formulario de registro de Dispositivos -->
    <mat-card>
      <mat-toolbar color="primary">
        <mat-card-header>
          <mat-card-title fxLayout='row'>
            <div fxFlex fxLayout='column' fxLayoutAlign="center center">
              <mat-icon class="">person_pin_circle</mat-icon>
            </div>
            <div fxFlex>
              <h1>Registro de Rastreables</h1>
            </div>
          </mat-card-title>
        </mat-card-header>
      </mat-toolbar>
      <mat-card-content fxLayout='column'>
        <br>
        <div fxLayout='row' fxLayout.xs='column'>
          <mat-form-field fxFill>
            <input style="text-transform: none" matInput [(ngModel)]="objRastreable.nombreCompleto" name="nombreCompleto" formControlName="nombreCompleto"
              placeholder="Nombre" value="">
            <mat-error *ngIf="frmRastreable.get('nombreCompleto').invalid">{{getErrorMessage('nombreCompleto')}}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout='row'>
          <mat-form-field fxFill>
            <textarea #desc style="text-transform: none" matInput [(ngModel)]="objRastreable.descripcion" name="descripcion" formControlName="descripcion"
              matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" placeholder="Descripción" value="">
                      </textarea>
            <mat-hint align="end">{{desc.value.length}} / 100</mat-hint>
            <mat-error *ngIf="frmRastreable.get('descripcion').invalid">{{getErrorMessage('descripcion')}}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout='row'>
          <mat-form-field fxFill>
            <app-search-select #ssUsuarioContratante [(value)]='objRastreable.objUsuarioContratante' placeholder='Usuario Contratante'
              required='true' [fnSearch]='fnSearchUsuarios.bind(this)' [fieldText]='getTextObjUsuarioItem' (onSelected)='onSelectUsuarioContratante($event)'>
            </app-search-select>
            <mat-error *ngIf="frmRastreable.get('idUsuarioContratante').invalid">{{getErrorMessage('idUsuarioContratante')}}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout='row' fxLayout.xs='column'>
          <mat-form-field>
            <app-search-select #ssDispositivo [(value)]='objRastreable.objDispositivo' placeholder='Dispositivo' [fnSearch]='fnSearchDispositivos.bind(this)'
              [fieldText]='getTextObjDispositivoItem' (onSelected)='onSelectDispositivo($event)'>
            </app-search-select>
          </mat-form-field>
          <mat-form-field>
            <input style="text-transform: none" matInput [(ngModel)]="objRastreable.telefono" name="telefono" formControlName="telefono"
              placeholder="Teléfono" value="">
            <mat-error *ngIf="frmRastreable.get('telefono').invalid">{{getErrorMessage('telefono')}}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout='row' fxLayout.xs='column'>
          <mat-form-field fxFill>
            <input style="text-transform: none" matInput [(ngModel)]="objRastreable.email" name="email" formControlName="email"
              placeholder="Email" value="">
            <mat-error *ngIf="frmRastreable.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout='row' fxLayout.xs='column'>
          <mat-form-field>
            <mat-select [(ngModel)]="objRastreable.tipoSanguineo" name="tipoSanguineo" formControlName="tipoSanguineo" placeholder="Tipo Sanguíneo">
              <mat-option *ngFor="let itemTipoSanguineo of tiposSanguineos" [value]="itemTipoSanguineo">
                {{ itemTipoSanguineo }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="frmRastreable.get('tipoSanguineo').invalid">{{getErrorMessage('tipoSanguineo')}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select [(ngModel)]="objRastreable.idEstatus" name="idEstatus" formControlName="idEstatus" placeholder="Estatus">
              <mat-option *ngFor="let itemEstatus of estatus | async" [value]="itemEstatus.id">
                {{ itemEstatus.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="frmRastreable.get('idEstatus').invalid">{{getErrorMessage('idEstatus')}}</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="warn" (click)="onClickBtnAtras()">Cancelar</button>
        <button mat-button color="primary" (click)="onClickBtnSave()">Guardar</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>